
.search-bar input{
  width: 600px;
  height: 30px;
  text-align: center;
  font-size: larger;
}
.search-bar button{
  height: 30px;
  
}
.weather-card{
  margin-left: -50px;
}
.weather-card h1{
  
  font-weight: 300;
  font-size: 5rem;
  color: #B8B8B8;
}
.weather-card h2{

  font-weight: 300;
  color: #B8B8B8;
  margin-top: -50px;
  margin-left: -70px;
  margin-bottom: 50px;
}

